.button {
  border-radius: 25px;
  border: none;
  font-size: var(--font-size-s);
  color: #fff;
  cursor: pointer;
  line-height: 1.2;
  letter-spacing: 2px;
  padding: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.primary {
  background-color: var(--btn-bg-primary);
  transition: all 0.2s ease;

  &:hover {
    transform: translateY(-1px);
    background-color: oklch(0.63 0.15 69.21 / 0.94);
  }
}

.secondary {
  background-color: var(--btn-bg-secondary);
  transition: all 0.2s ease;

  &:hover {
    transform: translateY(-1px);
    background-color: #1b49af;
  }
}
