.button {
  border-radius: 25px;
  border: none;
  font-size: var(--font-size-s);
  color: #fff;
  cursor: pointer;
  line-height: 1.2;
  letter-spacing: 2px;
  padding: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.small {
  padding: 6px 12px;
  font-size: 0.875rem;
}

.medium {
  padding: 10px 18px;
  font-size: 1rem;
}

.large {
  padding: 14px 24px;
  font-size: 1.125rem;
}

.primary {
  background-color: var(--btn-bg-primary);
  transition: all 0.2s ease;

  &:hover {
    transform: translateY(-1px);
    background-color: oklch(0.63 0.15 69.21 / 0.94);
  }
}

.secondary {
  background-color: var(--btn-bg-secondary);
  transition: all 0.2s ease;

  &:hover {
    transform: translateY(-1px);
    background-color: #1b49af;
  }
}

.delete {
  background-color: color-mix(in oklab, var(--color-red-500) 20%, transparent);
  transition: all 0.2s ease;
  color: var(--color-red-400);

  &:hover {
    transform: translateY(-1px);
    background-color: color-mix(in oklab, lab(55 75.08 48.85 / 0.56) 20%, transparent);
  }
}
